body{
    margin: 0;
    padding: 0;
}
.loader {
    height: 5px;
    width: 100%;
    position: relative;
    overflow: hidden;
    top: 70px;
  }
.loader::before {
    display: block;
    position: absolute;
    content: "";
    left: 0;
    
    width: 100%;
    height: 5px;
    background: #bdbdbd;
    animation: loader 1000ms forwards;
  }
  
@keyframes loader {
    from {
      left: -300px;
      width: 30%;
    }
    50% {
        left: 30%;
      width: 30%;
    }
    70% {
        left:70%;
      width: 70%;
    }
    80% {
        left: 80%;
      width: 80%;
    }
    95% {
        left: 90%;
      width: 90%;
    }
    to {
        left:100%;
      width: 100%;
    }
  }
  #all{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  main{
      border: 1px solid #bdbdbd;
      max-width: 940px;
      display: flex;
      flex-direction: column;
      margin-top: 95px;
      margin-bottom: 125px;
    }
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header{
        margin-bottom: 73px;
    }
    .name h1{
        font-family: 'Playfair Display', serif;
        font-size: 48px;
        color: #333333;
        font-style: italic;
        font-weight: 100;
        margin-bottom: 50px;
    }
    h2{ 
        font-family:  'Poppins', sans-serif;
        font-size: 21px;
        color: #333333;
        font-weight: lighter;
    }
    h3{
        font-size: 14px;
        color: #bdbdbd;
        margin-top: 36px;
        font-family:  'Poppins', sans-serif;
    }
    h4{
        font-family:  'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 100;
    }
    p{
        font-family:  'Poppins', sans-serif;
        color: #333333;
        font-size: 16px;
    }
    u{
color: rebeccapurple;
    }
    .line{
        height: 1px;
        background-color:#bdbdbd;
        width: 600px;
    } 
    
      header{
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
    .nav-btn{
        margin: 0px 30px 0px 30px;
        cursor: pointer;
    }
    header .nav-btn:hover {
        color: #F88181;
        transition: ease 200ms;
    }
    i{
        color: #333333;
        font-size: 34px;
    }

    #linked{
        margin: 0px 54px 0px 54px;
    }
    #cv i{
        font-size:30px;
    }
    
    .icon:hover i{
        color:#F88181;
    }
    .project{
        margin: 0px 112px 0px 112px;
    }
    .line-short{
        height: 1px;
        background-color:#bdbdbd;
        width: 169px;
        align-self: center;
        margin:0px 46px 0px 46px;
    }
    #about{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #about .line{
        margin-bottom: 54px;
    }
    .about-content{
        margin-top: 54px;
        margin-bottom: 54px;
        max-width: 670px;
        text-align: center;
    }
    .about-social{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .about-photo{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 54px;
    }
    #img-circle{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 26px;

    }
    .text-under-photo p{
        margin: 8px;
    }
    .text-under-photo-last{
        margin-bottom: 34px;
    }



    #project .section-name{
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-name p{
        color: #C4C4C4;
    }
    .project-main{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .box{
        width: 45%;
        border: 1px solid #dbdbdb;
        margin: 20px;
        cursor: pointer;
    }
    .project-img{
        width: 100%;
        background-position: center;  
        transition: .5s ease;
    }
    
    .box-hover{
        position: relative;
    }
    .box-hover:hover .project-img{
        opacity:0.3 ;
    }
    .img-text{
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .img-text > h4 {
            font-size: 48px;
            font-weight: 500;
            font-family: 'Roboto', sans-serif;
            color: #C4C4C4;
            opacity: 0.8;
            margin: 0;
            padding: 0;
        }
    .box:hover .img-text{
        opacity: 1;
    }
    #contact{
        margin-top: 160px;
        margin-bottom: 55px;
        display: flex;
        flex-direction: column;
        align-self: center;

    }
    .contact-main{
        display:flex;
        justify-content: center;
        align-content: center;
        margin-bottom: 60px;
        margin-top: 44px;
    }
    .contact-header h2{
        margin-top: 54px;
        text-align: center;
    }
    .contact-header p{
        color: #bdbdbd;
        margin: 0;
        text-align: center;
        font-weight: lighter;
    }
    .contact-main .box{
        width: 500px;
        height: 450px;
       border: none;
    
    }
    .contact-main .box h2{
        text-align: center;
        margin-bottom: 44px;
  
    }
    #box-input{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .contact-main .box input{
        width: 90%;
        margin-bottom: 20px;
        height: 40px;
        border: 1px solid #f2f2f2;
        background-color: #F8F8F8;
    }
    
    .box-input-box{
        display: flex;
        justify-content: center;
        width:100%;
    }
     input, textarea, select, button {
    font-size: 14px;
    
    }
    .box textarea{
        width: 90%;
        height: 50%;
        font-size: 14px;
        border: 1px solid #f2f2f2;
        background-color: #F8F8F8;
        
    }
    .box-input-box button{
        margin-top: 20px;
        height: 27px;
        width: 80px;
        color:#333333;
        font-family:  'Poppins', sans-serif;
        font-size: 16px;
        color: #bdbdbd;
        font-weight: lighter;
        border-color: #bdbdbd;
    }
    .bg2{
        background: url(Image/bg2.jpg) center no-repeat;
        -webkit-background-size: cover;
        height: 100%;
        width: 100%;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: scroll;
        justify-content: center;
        align-content: center;
        z-index: 10;
    }
    
footer{
    display: flex;

}
/* Modal window */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.close {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 50px;
    cursor: pointer;
}
.main-modal{
    margin-top: 75px;
    margin-bottom: 30px;
    border: 1px solid #333333;
    background-color: #fff; 
    width: 80%;
    overflow: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}
.modal-about{
    width: 100%;
}
.modal-text{
 width: 572.7px;
margin-left: 20px;
margin-bottom: 30px;
}
.modal-text ul{    
    padding-left: 20px;
}
.modal-about p{
    font-family:  'Poppins', sans-serif;
    color: #333333;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
}
.modal-text li{
    font-family:  'Poppins', sans-serif;
    color: #333333;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
}
.modal-about h4{
    font-weight: 500;
    font-size: 18px;
}
.modal-about h1{
    font-family:  'Playfair Display', serif;
    font-size: 34px;
    color: #333333;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    margin-top: 34px;
    margin-left:  20px;
}
.modal-about .line{
    align-self: center;
    width: 100%;
}
